---
import "../css/global.css";
import * as ui from "../components/UIElements"
---
<html>

<head>

</head>
<body>
    <h1> MIDI Debugging Page </h1>

<!-- MIDI Toys Setup -->
<script>
    //Import
    import { InputManager } from "../js/input/InputManager";
    import { ToyManager } from "../js/miditoy/ToyManager";
    // import * as paper from "paper";
    import {CanvasManager} from "../js/CanvasManager";

    //Base Toys setup
    let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement; //Get target Canvas
    // paper.setup(toyCanvas); //Paper setup
    let canvasManager = new CanvasManager();
    canvasManager.SetupCanvas(toyCanvas);

    let toyManager = new ToyManager(); //Setup toy manager
    toyManager.SetTargetCanvas(toyCanvas); //Set the target

    toyManager.CreateEmptyToys();
    toyManager.CreateGraviBoard(1,24*2,12);
</script>

    <div class="flexContainer">
        <ui.BPM client:idle />
        <div class="flexList">
            <ui.MIDIDeviceReloadUIElement label="Reload Devices " client:idle />
            <ui.AvailableMIDIDevicesUIElement client:idle />
        </div>
        <div class="flexList">
            <ui.SelectedMIDIDeviceUIElement client:idle />
            <ui.MIDIDropdown label="Set MIDI Device: " client:idle />
        </div>
    </div>

    <div>
        <div class="flexContainer">
            <ui.ChannelObserverUIElement channel=1 client:idle />
            <ui.ChannelObserverUIElement channel=2 client:idle />
            <ui.ChannelObserverUIElement channel=3 client:idle />
            <ui.ChannelObserverUIElement channel=4 client:idle />
        </div>
        <div class="flexContainer">
            <ui.ChannelObserverUIElement channel=5 client:idle />
            <ui.ChannelObserverUIElement channel=6 client:idle />
            <ui.ChannelObserverUIElement channel=7 client:idle />
            <ui.ChannelObserverUIElement channel=8 client:idle />
        </div>
        <div class="flexContainer">
            <ui.ChannelObserverUIElement channel=9 client:idle />
            <ui.ChannelObserverUIElement channel=10 client:idle />
            <ui.ChannelObserverUIElement channel=11 client:idle />
            <ui.ChannelObserverUIElement channel=12 client:idle />
        </div>
        <div class="flexContainer">
            <ui.ChannelObserverUIElement channel=13 client:idle />
            <ui.ChannelObserverUIElement channel=14 client:idle />
            <ui.ChannelObserverUIElement channel=15 client:idle />
            <ui.ChannelObserverUIElement channel=16 client:idle />
        </div>
    </div>

    <canvas id="toyCanvas" class="toyCanvasDebug"></canvas>

    </body>

</html>