---
import "./css/global.css";
---
<html>

<head>

</head>
<body>

    <h1> MIDI Debugging Page </h1>
    <script>
        import * as paper from "paper";
        import { InputManager } from "./js/input/InputManager";
        import { SquareKeyboard } from "./js/miditoy/SquareKeyboard";

        let inputManager = InputManager.GetInstance();
        let ch1SquareKeyboard;
        let ch2SquareKeyboard;

        // let BPM = 0;
        
        if (typeof window !== 'undefined') {
            let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement;
            paper.setup(toyCanvas);
            paper.view.autoUpdate = true;

            ch1SquareKeyboard = new SquareKeyboard(toyCanvas, 1, 30, 24) as SquareKeyboard;
            ch2SquareKeyboard = new SquareKeyboard(toyCanvas, 2, 60, 24) as SquareKeyboard;
            
            paper.view.onFrame = function(event) {
                // Hier kommt deine onFrame-Logik hin
                // paper.view.clear;
                //path.rotate(3);
                ch1SquareKeyboard.UpdateKeyboard();
                ch2SquareKeyboard.UpdateKeyboard();

                document.getElementById("CH1Keys").innerHTML = "Channel 1: " + inputManager.getHoldingKeys(1) + " Velocity: " + inputManager.getVelocity(1);
                document.getElementById("CH2Keys").innerHTML = "Channel 2: " + inputManager.getHoldingKeys(2) + " Velocity: " + inputManager.getVelocity(2);
                document.getElementById("CH3Keys").innerHTML = "Channel 3: " + inputManager.getHoldingKeys(3) + " Velocity: " + inputManager.getVelocity(3);
                document.getElementById("CH4Keys").innerHTML = "Channel 4: " + inputManager.getHoldingKeys(4) + " Velocity: " + inputManager.getVelocity(4);
                document.getElementById("CH15Keys").innerHTML = "Channel 15: " + inputManager.getHoldingKeys(15) + " Velocity: " + inputManager.getVelocity(15);

                let deviceData = "Connected MIDI Devices: " + inputManager.midiReader.GetMIDIInputs() + "<br>  BPM: " + inputManager.getBPM();
                document.getElementById("DeviceAndBPM").innerHTML = deviceData;
            }
        }
        </script>

        <h2 id="DeviceAndBPM">No device found</h2>

        <h2 id="CH1Keys">Ch 1</h2>
        <h2 id="CH2Keys"></h2>
        <h2 id="CH3Keys"></h2>
        <h2 id="CH4Keys"></h2>
        <h2 id="CH15Keys"></h2>
        <br>

        <canvas id="toyCanvas" class="toyCanvas"></canvas>
</body>

</html>