---
import * as ui from "@ui"
import "../css/app.css";
import SettingsPanel from "@components/SettingsPanel";
import * as utils from "@utils";

const mode = import.meta.env.MODE;
console.log(mode);
var publicRef = utils.GetPublicRef(); //public folder reference depends on mode
var title = utils.GetPageTitle();
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="icon" href={`${publicRef}/logo.ico`} type="image/x-icon">
        <meta charset="UTF-8">  
        <title>{title}</title>
    </head>
    <body>

    <!-- MIDI Toys Setup -->
    <script>
        //Import
        import { InputManager } from "../js/input/InputManager";
        import { ToyManager } from "../js/miditoy/ToyManager";
        import {CanvasManager} from "../js/CanvasManager"

        //Base Toys setup
        let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement; //Get target Canvas

        let canvasManager = new CanvasManager();
        canvasManager.SetupCanvas(toyCanvas);
        let inputManager = new InputManager(); //Setup input manager
        let toyManager = new ToyManager(); //Setup toy manager
        toyManager.SetTargetCanvas(toyCanvas); //Set the target
        toyManager.CreateEmptyToys();
    </script>

    <SettingsPanel client:idle />
    <ui.StartText client:idle />
    <ui.OpenSettingsButton client:idle />
    <canvas id="toyCanvas" class="toyCanvas"></canvas>

    </body>
</html>