---
import * as ui from "@ui"
import "../css/global.css";
import SettingsPanel from "@components/SettingsPanel";
import { Icon } from '@iconify-icon/solid';
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MIDI Toys</title>
</head>
    <body>

    <!-- MIDI Toys Setup -->
    <script>
        //Import
        import { InputManager } from "../js/input/InputManager";
        import { ToyManager } from "../js/miditoy/ToyManager";
        import {CanvasManager} from "../js/CanvasManager"

        //Base Toys setup
        let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement; //Get target Canvas
        
        let canvasManager = new CanvasManager();
        canvasManager.SetupCanvas(toyCanvas);
        let inputManager = new InputManager(); //Setup input manager
        let toyManager = new ToyManager(); //Setup toy manager
        toyManager.SetTargetCanvas(toyCanvas); //Set the target
        toyManager.CreateEmptyToys();
    </script>

    <canvas id="toyCanvas" class="toyCanvas"></canvas>
    <ui.StartText client:idle />
    <ui.OpenSettingsButton client:idle />
    <SettingsPanel client:idle />

    </body>
</html>