---
import "../css/global.css";
import HelloWorld from "../components/unused/HelloWorld";
import TakeString from "../components/unused/TakeString";
---

<!-- Testing Webseite -->

<html>
    <body>
        <HelloWorld />
        <br>
        <TakeString str="My Cool String" />
    </body>
</html>