<html>
    <!-- <div class="channelContainer">
        <div class="toyNameSetting">
            <button id="changeButton">Change</button>
            <h2 id="toyName1" class="marginLeft20">ToyName</h2> 
        </div>
        Number of Keys <input class="numberInput" type="number" min="1" max="100" step="1" /> <br>
        Start Key <input class="numberInput" type="number" min="1" max="100"/> <br>
        Collaps Notes <input class="toggleInput" type="checkbox">          
    </div> -->
    <h1>HEADLINE</h1>
    TextTextTextTextTextTextTextTextText
</html>