@font-face {
  font-family: 'BigJohn';
  src: url('../fonts/BIGJOHN.otf') format('opentype');
}
@font-face {
  font-family: 'SlimJoe';
  src: url('../fonts/SlimJoe.otf') format('opentype');
}

:root {
  --body-background-color: black;
  --primary-color: yellow;
  --secondary-color: rgba(31, 31, 31, 0.3);
  --item-background-color: rgba(45, 45, 45, 0.6);

  --item-hover-color: rgba(255, 255, 0, 0.434);
  --border-color: white;
  --border-hover-color: yellow;
  --text-color: white;
  --text-hover-color: yellow;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "SlimJoe", sans-serif;
  font-size: 10pt;
  background-color: var(--body-background-color);
}

main{
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

h1, h2, h3 {
  font-family: "BigJohn", sans-serif;
}

h1{
  padding: 0px;
  margin: 0px;
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3{
  font-size: 13pt;
}

img,svg,video{
  max-width: 100%;
  display: block;
}

.positionFixed{
  position: fixed;
  top: 0px;
}

button {
  font-family: "BigJohn", sans-serif;
  font-size: 12pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

  border-radius: 5px;
  background-color: var(--item-background-color);
  color: var(--text-color);
  transition: border 0.2s ease-in-out;
}
button:hover {
  border: 1px solid var(--item-hover-color);
  color: var(--text-hover-color);
}
.thinButton{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "SlimJoe", sans-serif;
  word-break: break-word;
}
.thinButtonActive{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "BigJohn", sans-serif;
  color: black;
  background-color: var(--item-hover-color);
  word-break: break-word;
}

.squareButton{
  padding: 3px;
  font-family: "SlimJoe", sans-serif;
  text-align: center;
  /* width: 100%;
  height: 100%; */
}

.channelButton{
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  margin: auto;
}
.channelButtonActiv{
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  margin: auto;

  color: black;
  background-color: var(--item-hover-color)
}

.iconButton{
  display: flex;
  padding: 5px;
  font-family: "SlimJoe", sans-serif;
  /* word-break: break-word; */
  text-align: center;
  /* justify-content: center; */
  margin: auto;
  line-height: 1.5;
}

.dropdown {
  margin: auto;
  text-align: center;
  background-color: var(--item-background-color);
  border: 1px var(--border-color) dashed;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding: 10px;  
  justify-content: space-around;
}

.dropdown:hover {
  background-color: var(--item-hover-color);
  color: var(--text-hover-color);
}

.flexList button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

summary {
  margin: 2px;
  list-style: none; /* remove the default list-style */
  line-height: 1.2;
  justify-content: center;
  text-align: center;
  font-family: "SlimJoe", sans-serif;
  font-size: 13pt;

  border-radius: 5px;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  transition: border-color 0.2s ease-in-out;
}
summary:hover {
  border: 1px solid var(--border-hover-color);
}
summary::marker {
  content: ""; /* hide the marker */
}

details[open] summary {
  color: var(--text-hover-color);
  border: 1px solid var(--border-color);
  font-family: "BigJohn", sans-serif;
  /* font-size: 14pt; */
}

.noSelect{
  user-select: none;
}

.alignLeft{
  justify-content: start;
  align-items: center;
}

.alignRight {
  justify-content: flex-end;
  align-items: center;
}

.alignCenter{
  justify-content: center;
  align-items: center;
}

.textAlignLeft{
  text-align: left;
}
.textAlignCenter{
  text-align: center;
}
.textAlignRight{
  text-align: right;
}

.marginAuto{
  margin: auto;
}
.marginTopBottomAuto {
  margin-top: auto;
  margin-bottom: auto;
}


.paddingTopBottom0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.paddingLeftRight10{
  padding-left: 10px;
  padding-right: 10px;
}

.paddingTop10{
  padding-top: 10px;
}

.padding10{
  padding: 10px;
}

.paddingAuto{
  padding: auto;
}

.marginBottom5 {
  margin-bottom: 5px;
}
.marginTop5 {
  margin-top: 5px;
}
.marginTop10 {
  margin-top: 10px;
}

.marginRight5 {
  margin-right: 5px;
}
.marginRight10{
  margin-right: 10px;
}
.marginRight20{
  margin-right: 20px;
}

.marginLeft5{
  margin-left: 5px;
}
.marginLeft20{
  margin-left: 20px; /* add margin to the right of the heading */
}
.marginLeft10{
  margin-left: 10px; /* add margin to the right of the heading */
}
.marginLeft20Percent{
  margin-left: 20%;
}
.marginRight20Percent{
  margin-right: 20%;
}
.marginRight40Percent{
  margin-right: 40%;
}
.widthAuto {
  width: auto;
}
.width100{
  width: 100%;
}
.width95{
  width: 95%;
}

.width80 {
  width: 80%;
}
.width70 {
  width: 70%;
}
.width60{
  width: 60%;
}
.width50{
  width: 50%;
}
.width40{
  width: 40%;
}
.width30{
  width: 30%;
}
.width20{
  width: 20%;
}
.width10{
  width: 10%;
}
.width5{
  width: 5%;
}

.heightAuto{
  height: auto;
}
.height100{
  height: 100%;
}

.height95{
  height: 95%;
}
.height80{
  height: 80%;
}
.height50{
  height: 50%;
}
.height20{
  height: 20%;
}
.height10{
  height: 10%;
}

.channelGroup {
  border-radius: 5px;
  width: 99%;
  height: 85%;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: auto;
  margin-right: auto;
  display: grid;
}
.channelContainer {
  user-select: none;
  /* margin: auto; */
  /* overflow: auto; */
  /* padding: 10px; */
  height: 100%;
  width: 100%;
}
.overflowAuto{
  overflow: auto;
}

.file-input-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--item-background-color);
  color: var(--text-color);
  border: 1px dashed var(--border-color);
  cursor: pointer;
}
.file-input-button:hover{
  background-color: var(--item-hover-color);
  text-decoration: underline;
}

.top1{
  top: 1%;
  position: fixed;
}
.top2{
  top: 10%;
  position: fixed;
}

.flex{
  display: flex;
}

.flexContainer{
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  justify-content: space-between;
  align-items: center;
  height: 99%;
  /* width: 100%; */
}
.justifyEnd{
  justify-content: end;
  /* align-items: end; */
}
.justifyStart{
  justify-content: start;
  align-items: start;
}
.justifySpace{
  justify-content: space-between;
}
.justifyCenter{
  justify-content: center;
  vertical-align: auto;
  text-align: center;
}


.flexList {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: space-between; */
  height: 100%; /* Set the height of the container to make it expand to the full height */
}

.clickableText{
  color: var(--text-hover-color);
  text-decoration: underline;
  font-size: 12pt;

  /* Hover effect */
  transition: color 0.3s ease;
}
.clickableText:hover{
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.numberInput {
  appearance: textfield;
  
  text-align: center;
  /* align-items: end; */
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;

  outline: 1px solid var(--border-color);
  border: none;
  background-color: var(--item-background-color);
  color: var(--text-color);
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  width: 45px;
  transition: color 0.2s ease-in-out;
}
.numberInput:focus {
  outline: 1px solid var(--border-hover-color);
  color: var(--text-hover-color);
}
.numberInput:hover{
  outline: 1px solid var(--border-hover-color);
}
.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.textInput {
  padding: 8px;
  height: 80%;
  width: 80%;
  outline: 1px dashed;
  transition: color 0.2s ease-in-out;
}
.textInput:focus {
  outline: 1px solid var(--border-hover-color);
  color: var(--text-hover-color);
}
.textInput:hover{
  outline: 1px solid;
}

.sliderInput{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: var(--item-hover-color);
  outline: none;
  opacity: 0.5;
  transition: opacity 0.1s;
  /* border-radius: 5px; */
}
.sliderInput:hover {
  opacity: 1;
}
.sliderInput::-moz-range-thumb {
  width: 16px;
  height: 24px;
  color: var(--primary-color);
  cursor: pointer;
}

.sliderContainer {
  height: 100px; /* Set the desired height for the slider */
}

.verticalSlider {
  background: var(--item-background-color);
  outline: none;
  width: 100px;
  transform: rotate(90deg);
  /* transform-origin: right top; */
}

.toggleInput{
  appearance: none;
  border-radius: 5px;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  width: 15vh;
  height: 25px;
}
.toggleInput:hover{
  background-color: var(--item-hover-color);
}
.toggleInput:checked:hover {
  background-color: var(--item-hover-color);
}
.toggleInput:checked {
  content: "";
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 15vh;
  height: 25px;
}

#openSettingsButton {
  font-family: "BigJohn", sans-serif;
  font-size: 16pt;
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
}
#buttonSettingsGroup {
  user-select: none;
  align-items: center;
  height: 5%;
  display: flex;
}
#settingsPanel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30%;
  padding-right: 10px;
  height: 100%;
  background-color: var(--item-background-color);
  border-radius: 5px;

  display: none;
}
@media (max-width: 1000px) {
  #settingsPanel {
    width: 70%;
  }
}
@media (max-width: 576px) {
  #settingsPanel {
    width: 100%;
  }
}

#startText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.toyCanvas {
  width: 100dvw;
  height: 99svh;
  /* overflow: hidden;     */
}

.toyCanvasDebug {
  width: 100%;
  height: 420px;
  overflow: hidden;    /* add other styles as desired */
  outline: 1px solid var(--border-color);
}