---

---

<body>
    <h1> MIDI Debugging Page </h1>
    <script>
        import { MIDIInputModule } from "./js/MIDIInputModule";
        import { InputManager } from "./js/InputManager";
        // import { NoteSquare } from "./js/NoteSquare";
        import { SquareKeyboard } from "./js/SquareKeyboard";
        import { KeyboardInputModule } from "./js/KeyboardInputModule";

        let inputManager = new InputManager() as InputManager;
        let keyboardReader = new KeyboardInputModule(inputManager);
        let inputReader;
        let ch1SquareKeyboard;
        let ch2SquareKeyboard;

        // let BPM = 0;
        
        if (typeof window !== 'undefined') {
            let ch1Can = document.getElementById("ch1Canvas") as HTMLCanvasElement;
            let ch2Can = document.getElementById("ch2Canvas") as HTMLCanvasElement;

            ch1SquareKeyboard = new SquareKeyboard(ch1Can, inputManager, 1, 64, 24) as SquareKeyboard;
            ch2SquareKeyboard = new SquareKeyboard(ch2Can, inputManager, 2, 64, 24) as SquareKeyboard;

            //Input classes
            keyboardReader = new KeyboardInputModule(inputManager) as KeyboardInputModule;
            inputReader = new MIDIInputModule(inputManager) as MIDIInputModule;

            setInterval(() => {
                ch1SquareKeyboard.UpdateKeyboard();
                ch2SquareKeyboard.UpdateKeyboard();
            }, 1)

            setInterval(() => {
                let deviceData = "Connected MIDI Devices: " + inputReader.GetMIDIInputs() + "<br>  BPM: " + inputManager.getBPM();
                document.getElementById("DeviceAndBPM").innerHTML = deviceData;
            }, 100);

            //Notes that are playe on channel 1 - 4
            setInterval(() => {
                document.getElementById("CH1Keys").innerHTML = "Channel 1: " + inputManager.getHoldingKeys(1) + " Velocity: " + inputManager.getVelocity(1);
                document.getElementById("CH2Keys").innerHTML = "Channel 2: " + inputManager.getHoldingKeys(2) + " Velocity: " + inputManager.getVelocity(2);
                document.getElementById("CH3Keys").innerHTML = "Channel 3: " + inputManager.getHoldingKeys(3) + " Velocity: " + inputManager.getVelocity(3);
                document.getElementById("CH4Keys").innerHTML = "Channel 4: " + inputManager.getHoldingKeys(4) + " Velocity: " + inputManager.getVelocity(4);
            }, 1);
        
            // Set the fill style to a color
            // Draw a filled rectangle with the fillRect method
            // The parameters are x, y, width and height
        }
        
        // console.log("END Javascript code");
        </script>
        <h2 id="DeviceAndBPM">No device found</h2>

        <h2 id="CH1Keys">Ch 1</h2>
        <h2 id="CH2Keys"></h2>
        <h2 id="CH3Keys"></h2>
        <h2 id="CH4Keys"></h2>
        <br>

        <canvas id="ch1Canvas" style="width: 100%;" height="40%"></canvas>
        <br>
        <canvas id="ch2Canvas" style="width: 100%;" height="40%"></canvas>

        <!-- <canvas id="c#Canvas" style="width: 8%" height="1000"></canvas>
        
        <canvas id="dCanvas" style="width: 8%;" height="1000"></canvas>
        <canvas id="d#Canvas" style="width: 8%;" height="1000"></canvas>
        
        <canvas id="eCanvas" style="width: 8%;" height="1000"></canvas>
        <canvas id="fCanvas" style="width: 8%;" height="1000"></canvas>
        <canvas id="f#Canvas" style="width: 8%;" height="1000"></canvas>
        
        <canvas id="gCanvas" style="width: 8%;" height="1000"></canvas>
        <canvas id="g#Canvas" style="width: 8%;" height="1000"></canvas>
        
        <canvas id="aCanvas" style="width: 8%;" height="1000"></canvas>
        <canvas id="a#Canvas" style="width: 8%;" height="1000"></canvas>
        
        <canvas id="bCanvas" style="width: 8%;" height="1000"></canvas> -->
</body>