---

---

<body>
    <h1> MIDI Debugging Page </h1>
    <script>
        import { InputManager } from "./js/InputManager";
        import { SquareKeyboard } from "./js/SquareKeyboard";
        import paper, { Color } from "paper";
        import { view } from "paper/dist/paper-core";

        let inputManager = new InputManager() as InputManager;
        let ch1SquareKeyboard;
        let ch2SquareKeyboard;

        // let BPM = 0;
        let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement;
        paper.setup(toyCanvas);
        paper.view.autoUpdate = true;
        
        
        if (typeof window !== 'undefined') {
            ch1SquareKeyboard = new SquareKeyboard(toyCanvas, inputManager, 1, 64, 24) as SquareKeyboard;
            //ch2SquareKeyboard = new SquareKeyboard(toyCanvas, inputManager, 2, 10, 24) as SquareKeyboard;
            
            // var path = new paper.Path.Rectangle({
            // point: [100, 100],
            // size: [75, 75],
            // strokeColor: 'white'
            // });

            paper.view.onFrame = function(event) {
                // Hier kommt deine onFrame-Logik hin
                // paper.view.clear;
                //path.rotate(3);
                ch1SquareKeyboard.UpdateKeyboard();

                document.getElementById("CH1Keys").innerHTML = "Channel 1: " + inputManager.getHoldingKeys(1) + " Velocity: " + inputManager.getVelocity(1);
                document.getElementById("CH2Keys").innerHTML = "Channel 2: " + inputManager.getHoldingKeys(2) + " Velocity: " + inputManager.getVelocity(2);
                document.getElementById("CH3Keys").innerHTML = "Channel 3: " + inputManager.getHoldingKeys(3) + " Velocity: " + inputManager.getVelocity(3);
                document.getElementById("CH4Keys").innerHTML = "Channel 4: " + inputManager.getHoldingKeys(4) + " Velocity: " + inputManager.getVelocity(4);
                let deviceData = "Connected MIDI Devices: " + inputManager.midiReader.GetMIDIInputs() + "<br>  BPM: " + inputManager.getBPM();
                document.getElementById("DeviceAndBPM").innerHTML = deviceData;
            }


            // setInterval(() => {
            //     //ch1SquareKeyboard.UpdateKeyboard();
            //     //ch2SquareKeyboard.UpdateKeyboard();
            //     //ch1SquareKeyboard.PaperDraw();
            //     //ch2SquareKeyboard.PaperDraw();
            // }, 1)
            

            // setInterval(() => {
            // }, 100);

            //Notes that are playe on channel 1 - 4
            // setInterval(() => {
            // }, 1);
        
            // Set the fill style to a color
            // Draw a filled rectangle with the fillRect method
            // The parameters are x, y, width and height
        }
        
        // console.log("END Javascript code");
        </script>
        <h2 id="DeviceAndBPM">No device found</h2>

        <h2 id="CH1Keys">Ch 1</h2>
        <h2 id="CH2Keys"></h2>
        <h2 id="CH3Keys"></h2>
        <h2 id="CH4Keys"></h2>
        <br>

        <canvas id="toyCanvas" width="1000" height="500"></canvas>
        <br>
        <!-- <canvas id="ch2Canvas" width="1000" height="200"></canvas> -->
</body>