---

---

<body>
    <h1> MIDI Debugging Page </h1>
    <script>
        import { MIDIInputModule } from "./js/MIDIInputModule";
        import { InputManager } from "./js/InputManager";
        import { NoteSquare } from "./js/NoteSquare";

        let inputManager = new InputManager() as InputManager;
        let inputReader;
        // let BPM = 0;

        if (typeof window !== 'undefined') {
            inputReader = new MIDIInputModule(inputManager) as MIDIInputModule;
            
            setInterval(() => {
                let deviceData = "Connected MIDI Devices: " + inputReader.GetMIDIInputs() + "<br>  BPM: " + inputManager.GetBPM();
                document.getElementById("DeviceAndBPM").innerHTML = deviceData;
            }, 100);

            // Get a reference to the canvas element
            const cCanvas = document.getElementById("cCanvas");
            const cisCanvas = document.getElementById("c#Canvas");
            const dCanvas = document.getElementById("dCanvas");
            const disCanvas = document.getElementById("d#Canvas");
            const eCanvas = document.getElementById("eCanvas");
            const fCanvas = document.getElementById("fCanvas");
            const fisCanvas = document.getElementById("f#Canvas");
            const gCanvas = document.getElementById("gCanvas");
            const gisCanvas = document.getElementById("g#Canvas");
            const aCanvas = document.getElementById("aCanvas");
            const aisCanvas = document.getElementById("a#Canvas");
            const bCanvas = document.getElementById("bCanvas");

            let cSquare = new NoteSquare(inputManager, 1, "C", cCanvas);
            let dSquare = new NoteSquare(inputManager, 1, "D", dCanvas);
            let eSquare = new NoteSquare(inputManager, 1, "E", eCanvas);
            let fSquare = new NoteSquare(inputManager, 1, "F", fCanvas);
            let gSquare = new NoteSquare(inputManager, 1, "G", gCanvas);
            let aSquare = new NoteSquare(inputManager, 1, "A", aCanvas);
            let bSquare = new NoteSquare(inputManager, 1, "B", bCanvas);

            let cisSquare = new NoteSquare(inputManager, 1, "C#", cisCanvas);
            let disSquare = new NoteSquare(inputManager, 1, "D#", disCanvas);
            let fisSquare = new NoteSquare(inputManager, 1, "F#", fisCanvas);
            let gisSquare = new NoteSquare(inputManager, 1, "G#", gisCanvas);
            let aisSquare = new NoteSquare(inputManager, 1, "A#", aisCanvas);


            //Notes that are playe on channel 1 - 4
            setInterval(() => {
                cSquare.GetMIDIInput();
                dSquare.GetMIDIInput();
                eSquare.GetMIDIInput();
                fSquare.GetMIDIInput();
                gSquare.GetMIDIInput();
                aSquare.GetMIDIInput();
                bSquare.GetMIDIInput();                

                cisSquare.GetMIDIInput();
                disSquare.GetMIDIInput();
                fisSquare.GetMIDIInput();
                gisSquare.GetMIDIInput();
                aisSquare.GetMIDIInput();

                document.getElementById("CH1Keys").innerHTML = "Channel 1: " + inputManager.GetHoldingKeys(1);
                document.getElementById("CH2Keys").innerHTML = "Channel 2: " + inputManager.GetHoldingKeys(2);
                document.getElementById("CH3Keys").innerHTML = "Channel 3: " + inputManager.GetHoldingKeys(3);
                document.getElementById("CH4Keys").innerHTML = "Channel 4: " + inputManager.GetHoldingKeys(4);
            }, 1);
        
            // Set the fill style to a color
            // Draw a filled rectangle with the fillRect method
            // The parameters are x, y, width and height
        }
        
        // console.log("END Javascript code");
        </script>
        <h2 id="DeviceAndBPM">No device found</h2>

        <h2 id="CH1Keys"></h2>
        <h2 id="CH2Keys"></h2>
        <h2 id="CH3Keys"></h2>
        <h2 id="CH4Keys"></h2>
        <br>

        <h2>(C,D,E,F,G,A,B)</h2>
        <canvas id="cCanvas" width="200" height="200"></canvas>
        <canvas id="dCanvas" width="200" height="200"></canvas>
        <canvas id="eCanvas" width="200" height="200"></canvas>
        <canvas id="fCanvas" width="200" height="200"></canvas>
        <canvas id="gCanvas" width="200" height="200"></canvas>
        <canvas id="aCanvas" width="200" height="200"></canvas>
        <canvas id="bCanvas" width="200" height="200"></canvas>
       
        <br>


        <h2>(C#,D#,F#,G#,A#)</h2>
        <canvas id="c#Canvas" width="200" height="200"></canvas>
        <canvas id="d#Canvas" width="200" height="200"></canvas>
        <canvas id="f#Canvas" width="200" height="200"></canvas>
        <canvas id="g#Canvas" width="200" height="200"></canvas>
        <canvas id="a#Canvas" width="200" height="200"></canvas>

</body>