---
import "./css/global.css";
---


<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MIDI Toys</title>
</head>
<body>
    <!-- <header>
        <h1></h1>
    </header> -->
    <script>
        //Import
        import { InputManager } from "./js/input/InputManager";
        import { SquareKeyboard } from "./js/miditoy/SquareKeyboard";
        import * as paper from "paper";
        
        //Base Toys setup
        let inputManager = new InputManager() as InputManager;
        let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement;
        paper.setup(toyCanvas); //Paper setup
        
        let channel1Toy;
        let channel2Toy;
        let channel3Toy;
        let channel4Toy;

        //If browser window
        if (typeof window !== 'undefined') {
            channel1Toy = new SquareKeyboard(toyCanvas, 1, 100, 24) as SquareKeyboard;
            channel2Toy = new SquareKeyboard(toyCanvas, 2, 100, 24) as SquareKeyboard;

            paper.view.onFrame = function(event) {
                channel1Toy.UpdateKeyboard();
                channel2Toy.UpdateKeyboard();
            }
        }

    </script>

    <canvas id="toyCanvas" class="toyCanvas"></canvas>

    <footer>
        <p>Copyright © 2023 Korbinian Maag </p>
    </footer>
</body>
</html>