---
import "./css/global.css";
---


<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MIDI Toys</title>
</head>
<body>
    <!-- <header>
        <h1></h1>
    </header> -->
    <script>
        //Import
        import { InputManager } from "./js/input/InputManager";
        import { SquareKeyboard } from "./js/miditoy/SquareKeyboard";
        import { MusicBalls } from "./js/miditoy/MusicBalls";

        import { DrumMaschin } from "./js/miditoy/DrumMaschin";
        import * as paper from "paper";
        
        //Base Toys setup
        let inputManager = InputManager.GetInstance();
        let toyCanvas = document.getElementById("toyCanvas") as HTMLCanvasElement;
        paper.setup(toyCanvas); //Paper setup
        
        let channel1Toy;
        let channel2Toy;
        let channel3Toy;
        let channel4Toy;

        //If browser window
        if (typeof window !== 'undefined') {
            channel2Toy = new MusicBalls(toyCanvas, 1, 13*3, 12);
            channel3Toy = new SquareKeyboard(toyCanvas, 2, 60, 12);
            
            channel1Toy = new DrumMaschin(toyCanvas, 15, 6, 60);

            paper.view.onFrame = function(event) {
                channel1Toy.UpdateKeyboard();
                channel2Toy.UpdateKeyboard();
                channel3Toy.UpdateKeyboard();
            }
        }

    </script>

    <canvas id="toyCanvas" class="toyCanvas"></canvas>

    <footer>
        <p>Copyright © 2023 Korbinian Maag </p>
    </footer>
</body>
</html>